@{
    ViewBag.Title = "Home Page";
}

<div id="home" style="display:block">
    <p>Businesses need stories now more than ever. Whatever you sell, product or service, it;s a good bet that someone else sells the exact same thing or close to it.The only thing that separates you from your competitor is you. And one of the best ways-if not the best way -to do that is through story. Storytelling is one of the oldest of arts-as long as there have been humans there have been stories. Stories allow people to take the most mundane of events and circumstances and weave them together to create meaning that brings people, families, and communities together. In the same way, stories allow businesses to craft a message that says what their product or service can do for their customers.</p>
    <p> All stories have characters, a problem or problems, and a resolution. The characters are you and your customers.Your customer has a problem. Your problem is solving your customers problem.The conflict comes from challenges your business overcomes to address both.And the resolution comes about when your customer embraces your solution as their own.</p>
    <p> You can tell a story in different ways. You tell with a sense of urgency giving the customer the impression that time is running out and that they need to act now! Or, especially in these trying times, you could use your story to tell the customer that you and your business is there to help them anyway it can.</p>
    <p> Send me an email or call or text and let me know what your business communication needs are. I work on spec so the only real risk to you is maybe a little time.If your immediate need is to drive sales, I can help you with that. Maybe you need to let your customers know what you and your business stands for and just how much your customers mean to you and your business. I can help you with that as well. And everything in between.</p>
</div>

<div id="about" style="display:none">
    <p>
        For the last 10 years or so, I've worked in technology as software developer. However, my first aspiration was writing, and my first university degree was in English. Despite working as a coder, I've spent a fair amount of time, writing articles, emails, how-to's, and fiction. 
    </p>
    <p>
        I work on spec so again, whatever the writing assignment may be, I would be happy to put something together for your persusal. 
    </p>

</div>
