@{
    ViewData["Title"] = "Home Page";
}

<section class="section" style="margin-top:0%">

    <div class="container" style="padding-top: 0%; padding-bottom: 0%; margin-top:0%">

        <div class="columns">

            <div id="main" class="column is-7">

            </div>
            <div class="is-divider-vertical"></div>
            <div class="column is-5 text_s" style="margin-right:30px; padding-right:30px" id="contact">
                @Html.Partial("_Contact")
            </div>

        </div>
</section>




<div id="fiction" style="display: none ">
    <h4 class="title is-4">Pick up on Broadway</h4>
    <article>

        <p>
            &nbsp;I have four nicely dressed people-two girls and two guys- one of whom is named Raj the owner of the Uber ride. We&rsquo;re just south of Broadway on 3
            <sup>rd</sup> avenue
            <strong>,</strong>and all of my passengers are drunk to varying degrees. Rather than speak, words just fall out of their mouths. It&lsquo;s not late, but already the local wildlife is out and active.
        </p>
        <p>
            Groups of people clump along the sidewalks and outside the bars. A girl sits on the sidewalk crying while two other girls hover close by. Two men shout at one another while people circle around with anticipation. My passengers stare dumbfounded
            as people stream from the Country Music Hall of Fame side street to the other, indifferent to the cars trying to get through. I hear &ldquo;insane&rdquo; and &ldquo;crazy&rdquo; spoken in whispers over and over again. The guy sitting next
            to me takes note of the Sun Caf&eacute;, saying that the same exact caf&eacute; exists in New Orleans. &ldquo;They are trying to turn this place into Bourbon Street,&rdquo; he says.&nbsp;
        </p>
        <p>
            Further up the street and closer to the hotel, the two girls in the party gasp when they see a girl running up the street barefoot. &ldquo;I wouldn&rsquo;t even walk into the Airbnb bathroom without shoes on,&rdquo; says Raj, the owner of
            the ride and the only name I know. We have to stop while the car in front of us stops to let a passenger out so he can throw up on the side of the street. &ldquo;Where are we?&rdquo; one of the girls asks impatiently as the others comment
            excitedly at the sight of a young man screaming at a&nbsp;fire hydrant.
        </p>
        <p>
            &ldquo;Mars,&rdquo; is the answer that comes back from the guy sitting next to me in the passenger seat. I see the young man turn toward away from the fire hydrant towards me, making eye contact. His visage is twisted, his skin sallow as if
            he were dead. Terrified, but conscious of the need to maintain control, I look away. &ldquo;Are we almost at the hotel? I just want to get to bed,&rdquo; one of the girls says and I detect a mood of agreement amongst the group. That is
            except for Raj, the guy who ordered the ride.
        </p>
        <p>&ldquo;I could stay out a little longer actually, &ldquo;he says.</p>
        <p>
            I can almost feel the girl sitting next to him roll her eyes as they exit my car and I close out their trip in the app. I look back at the demon boy yelling at the fire hydrant. The visage is gone, and the guy looks like a normal pitiful drunk
            outside of his head.
        </p>
        <p>
            I&rsquo;m the best driver and the worst driver. That sounds pretentious but it&rsquo;s true. I know I&rsquo;m the best because plenty of my passengers, high on life and whatever other substances they have&nbsp;taken, have told me so. I&rsquo;m
            not afraid to interact with my customers- I can make them laugh and keep them entertained. I&rsquo;m agreeable and nod sympathetically when they tell me stories of the being wronged by so and so. I don&rsquo;t judge when the young woman
            I pick up on a Sunday morning comes to the car wearing a pair of shorts her last night hookup loaned her.
        </p>

        <p>
            But as far as my actual driving is concerned...let&rsquo;s see. I slung two business executives from one side of the car to the other trying to make a last-second turn at full speed. Another guy nearly got whiplash when I made a full stop
            and at almost fifty miles/hour. I&rsquo;ve almost run more than a couple of drivers off of the road who were in my &ldquo;blind spot&rdquo; when I tried to change lanes. I&rsquo;ve been cussed more than once. My wife is convinced that
            I&rsquo;m a terrible driver because I&rsquo;m selfish and self-centered. Maybe she&rsquo;s right. Deep down, driving like a closet maniac offers me a thrill that my unemployed everyman 9 to 5 life doesn&rsquo;t. I&rsquo;ve seen my ratings
            drop from 4.99 to 4.72. The company sends me emails saying that my ratings need to improve or &ldquo;something&rdquo; will happen.
        </p>
        <p>***********************************************************************************</p>
        <p>
            Uber has a parking lot near the airport where drivers looking for airport runs must wait. Most of the drivers sit in their cars with gloomy expressions on their faces. A few get out and stretch their legs as I do one night. While standing
            around watching my breath in the cold January air, I strike up a conversation with another driver named Bill(not his real name). Bill is a long-haired young haired young man who carries himself with a happy go lucky attitude. We exchange
            names, the amount of time we&rsquo;ve been driving among other trivialities. Bill looks at my phone and marvels at the number of badges and good comments that I&rsquo;ve gotten from customers. Bill has no badges and his rating is even
            lower than mine.
        </p>
        <p>
            But it&rsquo;s all good according to Bill. The company emails Bill as well about his ratings, but he pays the emails no mind. He makes 500 to 600 dollars a week driving for the company, doesn&rsquo;t drive on Mondays or Tuesday, and lives
            with his girlfriend in a two bedroom somewhere in Antioch. Bill does alright. He has a tattoo on his wrist with a symbol. Bill rubs the symbol, and lefts his arm up to his mouth and gives the symbol and soft kiss. He mentions that he is
            a fledgling member of a lodge in town. &ldquo;I have to make enough to send up the food chain. I do that and then some, &ldquo; Bill says proudly. I ask about the food chain, but don&rsquo;t get an answer.
        </p>
        <p>Bill has a &ldquo;system&rdquo; for making more money by driving which he shares with a gleam in his eye: strip clubs.</p>
        <p>
            According to Bill, strip clubs will pay drivers for bringing passengers to the club. They pay so much per head, and all the driver has to do is walk in with the passengers to get credit. The clubs pay per head-Bill tells me that he made $100
            on one trip, more than I&rsquo;ve made on quite a few nights. Strip clubs look like the&nbsp;big bucks scheme of ridesharing, and the idea depresses and terrifies me.
        </p>
        <p>*************************************************************************************</p>
        <p>
            I leave for a day of ride sharing. Sixteen hundred is the mortgage amount. That is the number I have to hit by week&rsquo;s end so that my wife and kids don&rsquo;t end up on the street. A slight exaggeration, but true for the most part. I
            know the date will come, but not the money. I think on Bill&rsquo;s hustle and I shudder. Throughout the day as I ferry passengers here and there, I ruminate on my failures as father and husband. A few of the passengers intrude on my silent
            deliberations with banal questions: how&rsquo;s your day going, how busy have you been today, and the crowd favorite: what&rsquo;s the weirdest ride you&rsquo;ve ever had? The last question comes up so much that I have a ready answer that
            I stole from another driver by way of two former passengers of his. The story goes as follows: An old woman had decided to share the rejuvenating experience of having her clitoris pierced with the said driver while he took her to her destination.
            I have no such spectacular story to tell so now a proud old woman with a pierced clit rode in my car as well.
        </p>
        <p>
            Thankfully, most of my riders say nothing to me as I shuttle them to their destination. I enjoy several hours of miserable solitude when a man gets in a car and shares his miraculous near-death experience that he had after getting it by truck
            off 2
            <sup>nd</sup> and Broad. Every day above ground is a good day-how do I know that? I know that because my passenger has says it over and over again.
        </p>
        <p>
            I look at where I&rsquo;m driving and I see what looks to be a tiny figure on the hood of my car. It is three feet high maybe with wrinkled skin and with the same twisted face I saw on the guy screaming at the fire hydrant the other night.
            Is that a gremlin-riding on my hood?!!
        </p>
        <p>I look away and it&rsquo;s gone. I make no mention of it to the man as I carry him to his destination.</p>
        <p>My recruiter calls. There is an opening for a developer in a company called ElderSen. The recruiter tells me that I will be reporting directly to the Director of Application Development.</p>
        <p>***********************************************************************************************************************************************</p>
        <p>
            It is night, and I&rsquo;m downtown with the usual craziness. A man named Krishna enters my car with two associates from a bar in the gulch. They are headed to one of the newer hotels in the gulch that sits squeezed between cranes and the
            steel embryos of yet more hotels. The same craziness and tomfoolery on the streets between 5
            <sup>th</sup> and 1
            <sup>st</sup> of Broadway unfold as always as if drawn forth by instinct or a plague of delirium. These men are older and worldlier and they chuckle at the scenes outside the window.&nbsp;
        </p>
        <p>&ldquo;Do you have anything like this in India, Krishna?&rdquo; one of the men asks in a flat Midwestern accent indicative of anywhere.</p>
        <p>&ldquo;My friend, we have everything in India: sanity, insanity, every extreme of sanctity and sin and everything in between,&rdquo; replied the Krishna.</p>
        <p>&ldquo;I have heard that to be true,&rdquo; the third man piped commenting on time he spent over there.</p>
        <p>
            &ldquo;India is traditionally known by us,&rdquo; Krishna begins in a more somber tone,&rdquo; as
            <em>Bharat</em> or the land of highest consciousness. Our civilization goes back thousands of years as you may know. In the Mahabharata, we have tales of men flying around in machines and waging wars against the Rakshas, or demons as you
            call them. The Rakshas lived in the Underworld. There they drank wine, ate meat, and had sex. &ldquo;
        </p>
        <p>&ldquo;My kind of place,&rdquo; one of the men replies.</p>
        <p>&ldquo;Back in the old days, men would fly around in their flying machines, powered by crystal mercury&hellip;.&rdquo;</p>
        <p>&ldquo;Like ancient aliens,&rdquo; one of the Americans says with a barely concealed smirk. Krishna smiles and continues.</p>
        <p>&ldquo;And fly to the underworld-for vacation,&rdquo; Krishna continues.</p>
        <p>All the men chuckled.</p>
        <p>&ldquo;Yesterday I was in Delhi, and I got on a plane, and where did I fly?&rdquo; Krishna points out the window at a man throwing up on the sidewalk.</p>
        <p>&ldquo;I flew here to the Underworld,&rdquo; Krishna answers waving the air above his head. &ldquo;And somewhere close by,&rdquo; Krishna continued, pointing again to the outside,&rdquo; is its portal.&rdquo;</p>
        <p>******************************************************************************C</p>
    </article>
</div>
<div id="home" style="display:none ">

    <h4 class="title is-4 ">Do you need more clients. Then let me help! </h4>
    <article>


        <p>
           Clients are the lifeblood of your business-you don't have one without them. But gettting clients takes a lot of time and effort.
            And most business owners would rather be creating value for the clients they have than chasing down new ones. 
        </p>

        <p>Instead let me do that for you. Tell me about your ideal clients and I'll find them and lead them right to you.</p>
        

        <p>
           Take a moment 
        </p>

        <p>I look forward to hearing from you.</p>

        <p>Ernest Lipford-Owner</p>


    </article>
</div>

<div id="about" style="display:none ">

    <article style="font-size:16px ">


        <p>
            I received a BA in English with a concentration in Technical Communications from the University of Tennessee in Knoxville. I was writing way before I ever set foot in college. I guess that's the way it is for many of us. In addition to articles
            for the local paper, I wrote fiction here and there. I've always been interested in and passionate about the written word.
        </p>

        <p>I've been a software developer for a number of years so I have an interest in technology. I worked mostly with the Microsoft technology stack: C#, ASP.NET, </p>

        <p>Technology doesn't scare me.</p>
        <p>And neither does a blank page.</p>

        <p>I like words. I don't like wasting them. I like saying things in the quickest, most efficient way possible.</p>
        <p>Cause life's too short.</p>
        <p>I'm sure you and your customers would agree.</p>
        <p>Ernest Lipford-Owner</p>
        <br />

        <img src="~/Content/images/headshot.jpg" />
    </article>
</div>
<div id='blog' style="display: none">
    <h4 class="title is-4 ">A couple of great ideas for your next side hustle.</h4>
    <article>
        <p>
            Most everyone wants to know the future. Since before prehistory, man has been looking to patterns: in the stars, in the shape and length of lines on their neighbor’s palm, or in the arrangement of the innards of the neighbor’s livestock’s
            ( or in some cases those of the neighbors). Today, all of that is unnecessary for all of us whether we live in Inglewood, Wedgewood, Woodbine, or yeah, Bellevue. And the reason is that the future is…Nashville.
        </p>

        <p>
            And why shouldn’t it be? One hundred some people step over each other to move here every day. There are cranes all over the city; more than anywhere else other than New York and Los Angeles. The British Museum had to recall an exhibit recently.
            Apparently, the exhibit was sensitive to vibrations, and this jackhammer happy city was simply too busy growing to accommodate the exhibit’s need for tranquility.
        </p>

        <p>
            People are moving here, businesses are moving here-opportunity is everywhere. Of course, those who are young, bright, armed with degrees and experience gleaned from mom and daddy financed unpaid internships will land somewhere in this fair
            city. But there are just as many who will have to make it by tending bar, waiting tables, working construction, etc. And no matter how restaurants you get hired and fired you’ll never make enough for rent. That is unless you plan on living
            with a half a dozen roommates or you intend on commuting from Alabama. And if you’re a publicist’s assistant and you want to live in the Gulch without a gazillion roommates? Hah!
        </p>

        <p>
            So how is a regular Joe or Jane supposed to make it in the big, expensive city of Nashville without money, degree, big break, connections, or whatever? The answer is by getting a side hustle. With a side hustle, you own your own business-it
            ’s all up to you how much money you make. Now what kind of side hustle would work and be unique and appropriate for The Music City? Let’s find out.
        </p>

        <p>Before we begin, let’s be clear. I did say ‘hustle’ which means you may stretch the truth and reality here and there. Don’t worry, our commander in chief does it so you can too.</p>
        <p>
            <h5 class="title is-5">Now introducing: The School of White Trash</h5>
        </p>

        <p>
            Nashville is notorious for being the home of people who aren’t “from” Nashville. Many newcomers hail from distant cities- anonymous, soulless places where one can have trouble establishing an “identity.” Besides job or girlfriend, more than
            a few young men come to the South looking for-wait for it-“authenticity.”
        </p>
        <p>Well, give it to them. Your business will be to establish a school for real southern men aka rednecks(I’m not talking about the seersucker, mint julip tea drinking dandy. Different subject, different time). </p>
        <p>
            As far as the school goes, get a building not too far out-one that is preferably in a dodgy part of town, the dodgier the better actually. If you do it right, your customers will feel brave and manly just for showing up. Here you will teach
            the redneck wannabe how to relax that slack jaw and tighten those rs. You will teach them how to throw knives at a spot in the dirt; make their friends believe stories that could not, would not and will never happen; take apart an engine
            and sort of put it back together so it works for a little while anyway. You will teach them how to make moonshine-the real stuff, not what they sell in Gatlinburg. It’s easy, all you need is water and…just google it. It doesn’t have to
            be perfect or even good. Just make it strong. There is a reason it is illegal.
        </p>
        <p>
            Maybe even take a field trip out to the country and let them shoot broken down refrigerators with shotguns. Oh yeah, to be an effective redneck, one has to know how to fight. You, the instructor, don’t have to know how to fight that well,
            you just need to be able to fight better than your student. This sounds like Fight Club you say. Hmm, my inner entrepreneur who is focused on the goal ahead never heard of it. And btw, you need to stop throwing wrenches in people’s plans.
        </p>
        <p>
            On Saturday nights you host line dancing where the redneck padawans can regale the ladies with the rotgut moonshine they made over the past week. They can impress with the stupid stories they make up during the week, they can line dance, pick
            fights over each other’s dance partners, and get in real authentic bar fights. And on Monday mornings, they can go into cubicles with black-eyed and stitched up heads held high. Thanks to you and your service, they will authentically be…
            something.
        </p>
        <br />
        <p>
            <h5 class="title is-5">Great Football players are built, not recruited.</h5>
        </p>
        <p>
            If that idea doesn’t sound like you then here is another, albeit a little more involved than the last one. If you’ve lived here anytime at all and spent most of it somewhere other than a rock, you should know that football is cherished thing
            in this part of the country. And, especially in the Eastern part of the state, University of Tennessee football is as close to a sacrament as one can get in these Jesus loving parts without being sacrilegious. But over the years UT football
            has had its problems, one being that Vanderbilt has beaten UT three times in the past so many years. I’ll say no more. And while there is plenty of handwringing and coach throwing under the bus, there are precious few solutions other than
            getting another coach who can recruit better players. Getting a new coach is like anything else in life: getting a new job, a house, a spouse, or a new life. In other words, it’s a game of craps, a hand of blackjack, a pick behind door
            number three hoping it’s not the ugly couch the game show producers found in a warehouse in Long Beach.
        </p>
        <p>
            No, UT needs better players without the uncertainty associated with an unknown coach's recruiting skills. And that’s where your business comes in. Trump, like many Americans, believes that we need to bring manufacturing home instead of looking
            to other countries to outsource goods and services to. Likewise, UT- instead of looking for players all over the country needs to look for them here in our backyard. Now sure we have good players, but you can’t just wait for good players
            to be born, grow up, and possibly be contenders. No, we need to start building them.
        </p>
        <p>
            Think about it. Nashville is a major focal point of healthcare. Healthcare involves biology and biotech which is exactly what we need to build the football players we need. Simply put, the UT football world needs a performance enhancement
            drug-not steroids because those are illegal-but something else that’s…not so illegal. Now, this particular endeavor may involve a degree or two, but not your non-existent degree. Someone else’s, someone who has just gotten out of medical
            school or a Ph.D. program somewhere and who is
        </p>
        <br />
        <div style="padding-left:15px">
            <ul style="list-style-type:disc">
                <li>Glad to be out of school </li>
                <li>Probably in serious debt, and therefore</li>
                <li>Desperate enough to be open to any crazy ideas you might.</li>
            </ul>
        </div>

        <br />

        <p>
            Remember, channel your inner Trump. And if you can’t find a Ph.D. here who is bat-brained enough to go along with this business, then go to China and get one there. I know what I said about Trump, but if Ivanka can get her shoes from China
            for reselling here in America, then you can get you’re Ph.D. there as well. Visa in hand, start calling up those UT alumni and boosters and who have money, and nothing to spend it on other than their bratty entitled children. That
            and UT football.
        </p>
        <p>
            Admittedly there is more involved in this side hustle than the prior one. There may be some uncomfortable conversations that involve stem cells and such. Buck up. Again this is UT football-accommodations can and will be made, and you’ll get through it. Another more difficult aspect is that this side hustle is more of a long game than the prior one. It may take a generation to get results; that’s a long span in football program rebuilding time. And UT alumni are notoriously impatient as far as getting wins are concerned. A head coach as at best five years to turn things around. And we’re talking at least eighteen for this side hustle.
        </p>
        <p>
            If you are on your A game, then this can be a nice little side career. For eighteen years you live off the funding while letting your Ph.D. do all the work until the ship comes in. And if that ship doesn’t come in then you live off the funding until the sponsor pulls the cord. And if it does then once again UT will be a national contender. Fans, alumni, anybody who cares about UT Football will salute you.  And you will have your very own one bedroom in the Gulch.
        </p>
    </article>

</div>
<div id="salesLetter" style="display:none">
    <object data="~/Content/Show your kids where money grows .pdf" width="600" height="500">
        <embed src="~/Content/Show your kids where money grows .pdf" width="600" height="500" />
        <p>This browser does not support PDFs. Please download the PDF to view it: <a href="~/Content/Show your kids where money grows .pdf">View the PDF</a>.</p>
        </embed>
    </object>
</div>

<div id="emails" style="display:none">


    <h3 class="title-3" id="b2b">B2C email sample</h3>
    <br />
    <h2 class="title-4">
        Subject: Not published because you hate rejection? Try this
    </h2>


    <article style="font-size:16px">
        <div>
            Hi {FirstName},
            <br />
        </div>
        <div>
            I met this lady-I’ll call her Linda- who was an aspiring author. She wrote and submitted fifteen romance novels to publishers. All fifteen were rejected.
        </div>
        <div>
            <br />
        </div>
        <div>
            Ouch.
        </div>
        <div>
            <br />
        </div>
        <div>
            The lady told me then that she was working on her sixteenth novel. And she was going to submit that one as well. I don’t know if sixteen was the magic number or not, but -way to push, there Linda!
        </div>
        <div>
            Would you put yourself through that? I know I wouldn't. I don't expect many of us would.
        </div>
        <div>
            <br />
        </div>
        <div>
            But you know what? You don’t have to. Forget about editors and fancy pants publishers and they’re expectations. You can get published right now! And make money!
        </div>
        <div>
            <br />
        </div>
        <div>
            How? By publishing on the web. Write compelling content that will draw people to your site. Your writing will be out there for everybody to see. And our course called "How to Write Your Own Money-Making Websites" will show you the quickest and cheapest
            way to get a website up and running.
        </div>
        <div>
            <br />
        </div>
        <div>
            -Click here to find out more.-
        </div>
        <div>
            <br />
        </div>
        <div>
            If you really want to be a writer and live the dream, now’s the chance. "How to Write Your Own Money-Making Websites" lays it out for you
        </div>
        <div>
            • Choose the best way to make your topic traffic friendly.
        </div>
        <div>
            • How to pick a domain name that will get customers.
        </div>
        <div>
            • Write copy that grabs interest.
        </div>
        <div>
            • Where to find affiliates
        </div>
        <div>
            • How to pick a name for your website.
        </div>
        <div>
            • How to write copy search engines love
        </div>
        <div>
            -Click here to find out more.-
        </div>
        <div>
            <br />
        </div>
        <div>
            Once you finish "How to Write Your Own Money-Making Websites"  you will know how to put up a website and get followers. You will know what you need to do to become your own publisher. And once you publish for yourself, there's nothing stopping you from creating more websites, publishing more material, and earning more money. With the skills gained from our course, you can provide opportunities for yourself and others. The sky is the limit!
        </div>
        <div>
            <br />
        </div>
        <div>
            There. Rejection, smjection. You have no excuse, and no reason not to get started now.
        </div>
        <div>
            -Click here to stop daydreaming and to learn how to start living the life you always wanted!-
        </div>
        <div>
            Start today!
        </div>
        <div>

        </div>
    </article>



    <article>
        <h3 id="b2b">B2B email sample</h3>

        <h4 class="title-4">
            <a data-toggle="collapse" href="#collapse1"> Subject: This should never happen…</a>
        </h4>

        <div id="collapse1" class="panel-collapse collapse">
            <p>In Michigan, an elderly woman, named Bimla, goes into surgery to have a bilateral jaw replacement. Instead, she has five holes drilled her head and part of her skull replaced.</p>

            <p>Another patient in that hospital needed that surgery, not Bimla. That mixup cost the hospital 21 million dollars. </p>

            <p>It cost Bimla, an elderly woman still recovering from a heart attack, her life.</p>

            <p>In a critical environment where so much can go wrong, it’s PatientCom's mission to make sure all goes right</p>

            <p>Our solution gives every clinical worker complete access to real-time, critical patient data.</p>

            <p>In the palm of their hand.</p>

            <p>To find out how PatientCom's wireless, secure platform can help you give your patients the best care possible, click here.</p>
        </div>

    </article>
    <br />


</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#' + burger.dataset.target);

        burger.addEventListener('click', function () {
            burger.classList.toggle('is-active');
            nav.classList.toggle('is-active');

        });
        var inner = document.getElementById("home").innerHTML;
        var maindiv = document.getElementById('main');
        maindiv.innerHTML = inner;

    }, false);

    var anchors = document.getElementsByClassName("lnk");
    [].forEach.call(anchors, function (anchor) {
        anchor.addEventListener('click', function () {
            var spltArry = anchor.id.split("_");
            var divId = spltArry[1];
            var innerHtml = document.getElementById(divId).innerHTML;
            document.getElementById('main').innerHTML = '';
            document.getElementById('main').innerHTML = innerHtml;
        });
    });
</script>
