@{
    ViewBag.Title = "Home Page";
}

    <div id="home" style="display:block">

        <p>
            Businesses need stories now more than ever. Whatever you sell, product or service, it’s a good bet that someone else sells the exact same thing or close to it.  The only thing that separates you from your competitor is you. And one of the best ways-if not the best way -to set yourself apart is through a story.

        </p>

        <p>
            All stories have characters, a problem, and a resolution. The characters are you and your customers.  Your customer has a problem. Your problem is solving your customer’s problem. Doing what needs to be done to solve your customer’s problem often involves conflict. But these conflicts get resolved as you provide the solution. The resolution comes about when your customer embraces your solution as their own.


        </p>

        <p>
            Stories are an amazing technology. They allow people to take the most mundane of events and circumstances and weave them together to create meaning that brings friends, families, and communities together. Stories can take unmet strangers and bring them together by appealing to their common wants and needs.  People, both familiar and unknown, can be brought to your storefront by the power of a good story.
        </p>

        <p>
            And in these challenging times, simply bringing people together can be its own good.

        </p>

        <p>
            Send me an email, call, or text and let me know what your business communication needs are. If your immediate need is to drive sales, I can help you with that. Or maybe you just need to tell your customers how much they mean to you and your business. I can help you with that as well. And everything in between.

        </p>

    </div>

<div id="about" style="display:none">
    <p>
        For the last 10 years or so, I've worked in technology as software developer. However, my first aspiration was writing, and my first university degree was in English. Despite working as a coder, I've spent a fair amount of time, writing articles, emails, how-to's, and fiction. 
    </p>
    <p>
        I work on spec so again, whatever the writing assignment may be, I would be happy to put something together for your review. 
    </p>

</div>
