

<div class="box">
    <article class="media">
        <div class="media-content">
            <input class="input" id="input" placeholder="Put something in here" value="">
        </div>
        <div class="media-content">
        
           @Html.ActionLink("Submit","GetClientList", "Admin")
        </div>
    </article>
</div>


