<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Super Earth Communications</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Gravitas+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|" rel="stylesheet">
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.0/dist/css/bulma-extensions.min.css">
    <script type="text/javascript" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.0/dist/js/bulma-extensions.min.js"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/Scripts/validate.min.js"></script>
</head>
<body>
    @*<nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand" style="margin-top:10px;margin-left:20px">

           
        
              
                        <img src="~/Content/images/freeplanetmed.png" />
                        <span class="text">
                            Super


                            Earth


                            Marketing
                        </span>
                

                  
                             
                 
                
    

        </div>
      
        <a role="button" class="navbar-burger burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>

            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

        <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item lnk" id="lnk_home" href="javascript:void(0)">Home</a>
                <a class="navbar-item lnk" id="lnk_about" href="javascript:void(0)">About</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="javascript:void(0)">Writing Samples</a>
                    <div class="navbar-dropdown">

                        <a id="lnk_salesLetter" href="javascript:void(0)" class="navbar-item lnk">Sales Letter</a>
                        @*<a id="lnk_blog" href="javascript:void(0)" class="navbar-item lnk">Blog</a>*@
                        <a id="lnk_emails" href="javascript:void(0)" class="navbar-item lnk">Emails</a>
                        @*<a id="lnk_fiction" href="javascript:void(0)" class="navbar-item lnk">Fiction</a>*@

                    </div>
                </div>
            </div>
        </div>
    </nav>*@

   
    <div class="is-divider"></div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="is-divider"></div>
        <footer>
            <div class="container">
                <div class="columns text_m">
                    <div class="column">
                        Owner: Ernest Lipford

                    </div>
                    <div class="column">
                        Call or text: 615-496-3898
                    </div>
                    <div class="column">
                        Email: ernest.lipford@superearthcom.com
                    </div>
                    <div class="column">
                        Website: www.superearthcom.com
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>
