<div style="width:700px; height:150px">
    <svg width="100%" height="100%" viewBox="0 0 610 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,-6.43825,-21.3739)">
    <g transform="matrix(6.37654,-0.0251339,0.0215885,4.02396,-162.021,-186.642)">
    <g id="Layer1">
    <text x="25.844px" y="61.049px" style="font-family:'MartianBThai-Regular', 'Martian B Thai';font-size:11.928px;fill:rgb(61,74,205);stroke:rgb(8,9,22);stroke-width:0.31px;">Sup<tspan x="46.408px 52.826px " y="61.049px 61.049px ">er</tspan> Ea<tspan x="75.43px " y="61.049px ">r</tspan>th C  m</text>
            </g>
        </g>
    <g transform="matrix(3.02708e-18,0.0145153,0.0174261,7.15923e-18,503.754,26.7992)">
    <path d="M283,2239C200,2231 115,2188 73,2132C-36,1987 -1,1697 162,1394L200,1323L191,1221C174,1019 210,840 301,671C480,339 851,145 1226,188L1324,199L1374,170C1621,30 1911,-30 2061,28C2287,117 2307,407 2116,805L2053,935L2063,1029C2084,1226 2037,1439 1934,1612C1868,1723 1722,1869 1615,1931C1428,2039 1234,2082 1026,2060L928,2050L876,2079C679,2192 445,2255 283,2239ZM490,2003C520,1995 567,1977 594,1963L645,1937L620,1921C572,1889 448,1787 443,1774C441,1767 461,1716 488,1662C661,1312 1031,904 1414,642C1525,565 1739,450 1770,450C1791,450 1865,530 1912,602L1944,652L1963,608C2007,505 2022,387 2000,310C1984,256 1976,248 1924,240C1686,204 1278,448 859,876C458,1288 195,1717 227,1912C234,1960 286,2017 327,2023C365,2028 425,2021 490,2003Z" style="fill:rgb(61,74,205);fill-rule:nonzero;stroke:rgb(2,4,22);stroke-width:103.7px;" />



        </g>
    </g>
</svg>

</div>
